/* line 4, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 11, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 1, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.row {
  position: relative; }

/* line 8, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-1:last-child {
    margin-right: 0; }
/* line 9, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-2:last-child {
    margin-right: 0; }
/* line 10, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-3:last-child {
    margin-right: 0; }
/* line 11, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-4:last-child {
    margin-right: 0; }
/* line 12, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-5:last-child {
    margin-right: 0; }
/* line 13, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-6:last-child {
    margin-right: 0; }
/* line 14, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-7:last-child {
    margin-right: 0; }
/* line 15, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-8:last-child {
    margin-right: 0; }
/* line 16, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-9:last-child {
    margin-right: 0; }
/* line 17, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-10:last-child {
    margin-right: 0; }
/* line 18, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-11:last-child {
    margin-right: 0; }
/* line 19, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-12:last-child {
    margin-right: 0; }
/* line 20, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-13 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 108.5298%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-13:last-child {
    margin-right: 0; }
/* line 21, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-14 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 117.05961%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-14:last-child {
    margin-right: 0; }
/* line 22, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-15 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 125.58941%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-15:last-child {
    margin-right: 0; }
/* line 23, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.column.column-16 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 134.11922%; }
  /* line 89, E:/repo/core/gsuplementos.com.br/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .column.column-16:last-child {
    margin-right: 0; }

/* line 26, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.pull-left {
  float: left; }

/* line 27, E:/repo/core/gsuplementos.com.br/src/scss/_base.scss */
.pull-right {
  float: right; }

/* line 9, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
body.categoria-omega-3 h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #bf2328; }
/* line 14, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
body.categoria-omega-3 section#middle {
  max-width: inherit; }
/* line 17, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
body.categoria-omega-3 .banner {
  text-align: center;
  height: 580px;
  background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/bg-header2.jpg');
  background-position: center;
  padding-top: 93px;
  margin-bottom: 120px;
  position: relative; }
  /* line 25, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .banner h1 {
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px; }
  /* line 32, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .banner p {
    color: white;
    font-size: 24px;
    width: 400px;
    margin: 0 auto;
    font-weight: bold; }
  /* line 39, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .banner .icons {
    background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/header-icons.png?v=1');
    width: 570px;
    height: 162px;
    position: absolute;
    left: 50%;
    margin-left: -285px;
    top: 260px; }
  /* line 48, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .banner ul {
    position: absolute;
    bottom: -62px;
    background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/bg-arrows.png');
    height: 124px;
    width: 1156px;
    left: 50%;
    margin-left: -578px; }
    /* line 56, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
    body.categoria-omega-3 .banner ul li {
      float: left;
      width: 285px;
      text-align: left;
      height: 124px;
      display: table;
      padding: 0 20px 0 50px; }
      /* line 63, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
      body.categoria-omega-3 .banner ul li strong {
        display: block; }
      /* line 66, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
      body.categoria-omega-3 .banner ul li p {
        display: table-cell;
        vertical-align: middle;
        font-size: 13px;
        font-weight: normal; }
      /* line 74, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
      body.categoria-omega-3 .banner ul li.logo strong {
        background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/sprite.png?v=1');
        background-repeat: no-repeat;
        background-position: -90px -91px;
        width: 147px;
        height: 47px;
        text-indent: -9999px;
        position: absolute;
        top: 35px;
        left: 80px; }
/* line 89, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
body.categoria-omega-3 .list-products {
  margin-bottom: 30px; }
  /* line 92, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .list-products .wd-product-list .wd-header {
    display: none; }
/* line 97, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
body.categoria-omega-3 .what-is {
  background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/bg-what-is.jpg?V=1');
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 590px; }
/* line 107, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
body.categoria-omega-3 .information .row {
  display: table; }
  /* line 109, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .information .row .wrapper-text {
    display: table-cell;
    vertical-align: middle;
    width: 54%; }
  /* line 114, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .information .row img {
    float: right; }
  /* line 118, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .information .row.left img {
    float: left; }
/* line 125, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
body.categoria-omega-3 .objective {
  background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/bg-objective.jpg');
  background-repeat: repeat-x;
  background-position: center;
  min-height: 650px;
  color: white;
  font-size: 24px;
  padding-top: 2em; }
  /* line 133, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .objective p {
    color: white;
    font-size: 24px; }
  /* line 137, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .objective h2 {
    color: white;
    font-size: 36px;
    text-transform: none; }
  /* line 143, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .objective ul li {
    margin-bottom: 10px;
    overflow: hidden;
    display: table; }
    /* line 148, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
    body.categoria-omega-3 .objective ul li span {
      width: 68px;
      height: 78px;
      background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/sprite.png?v=1');
      display: inline-block;
      float: left; }
    /* line 155, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
    body.categoria-omega-3 .objective ul li p {
      padding-left: 20px;
      display: table-cell;
      vertical-align: middle; }
    /* line 161, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
    body.categoria-omega-3 .objective ul li:nth-child(2) span {
      background-position: 0 -92px; }
    /* line 166, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
    body.categoria-omega-3 .objective ul li:nth-child(3) span {
      background-position: 0 -185px; }
    /* line 171, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
    body.categoria-omega-3 .objective ul li:nth-child(4) span {
      background-position: 0 -277px; }
    /* line 176, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
    body.categoria-omega-3 .objective ul li:nth-child(5) span {
      background-position: 0 -369px; }
  /* line 182, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .objective .doctor {
    font-size: 14px;
    padding-left: 90px;
    width: 300px;
    margin-top: 3em; }
    /* line 187, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
    body.categoria-omega-3 .objective .doctor .photo {
      width: 68px;
      height: 78px;
      display: inline-block;
      background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/sprite.png?v=1');
      background-position: -83px 0;
      float: left;
      margin-left: -90px; }
    /* line 196, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
    body.categoria-omega-3 .objective .doctor strong {
      padding-top: 15px;
      display: block; }
/* line 203, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
body.categoria-omega-3 .nutritionist {
  margin-top: 5em;
  margin-bottom: 3em;
  background-color: #167DBB;
  color: white;
  min-height: 112px; }
  /* line 209, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .nutritionist .doctor {
    background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/sprite.png?v=1');
    background-position: -83px -270px;
    display: block;
    width: 243px;
    height: 177px;
    position: absolute;
    bottom: -112px; }
  /* line 218, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .nutritionist .column-6 {
    margin-top: 23px;
    font-size: 14px; }
    /* line 221, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
    body.categoria-omega-3 .nutritionist .column-6 strong {
      display: block;
      font-size: 24px; }
  /* line 226, E:/repo/core/gsuplementos.com.br/src/scss/omega3.scss */
  body.categoria-omega-3 .nutritionist a {
    display: table;
    background-color: #bf2328;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    text-align: center;
    margin: 40px auto 0; }
