@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import './bower_components/neat/app/assets/stylesheets/_neat';

@import '_vars';
@import '_base';

body {
	&.categoria-omega-3 {
		h2 {
			font-size: 24px;
			text-transform: uppercase;
			color: $color-primary;
		}
		section#middle {
			max-width: inherit;
		}
		.banner {
			text-align: center;
			height: 580px;
			background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/bg-header2.jpg');
			background-position: center;
			padding-top: 93px;
			margin-bottom: 120px;
			position: relative;
			h1 {
				text-transform: uppercase;
				color: white;
				font-size: 60px;
				font-weight: bold;
				margin-bottom: 15px;
			}
			p {
				color: white;
				font-size: 24px;
				width: 400px;
				margin: 0 auto;
				font-weight: bold;
			}
			.icons {
				background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/header-icons.png?v=1');
				width: 570px;
				height: 162px;
				position: absolute;
				left: 50%;
				margin-left: -285px;
				top: 260px;
			}
			ul {
				position: absolute;
				bottom: -62px;
				background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/bg-arrows.png');
				height: 124px;
				width: 1156px;
				left: 50%;
				margin-left: -578px; 
				li {
					float: left;
					width: 285px;
					text-align: left;
					height: 124px;
					display: table;
					padding: 0 20px 0 50px;
					strong {
						display: block;
					}
					p {
						display: table-cell;
						vertical-align: middle;
						font-size: 13px;
						font-weight: normal;
					}

					&.logo {
						strong {
							background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/sprite.png?v=1');
							background-repeat: no-repeat;
							background-position: -90px -91px;
							width: 147px;
							height: 47px;
							text-indent: -9999px;
							position: absolute;
							top: 35px;
							left: 80px;
						}
					}
				}
			}
		}
		.list-products {
			margin-bottom: 30px;
			.wd-product-list {
				.wd-header {
					display: none;
				}
			}
		}
		.what-is {
			background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/bg-what-is.jpg?V=1');
			background-repeat: no-repeat;
			background-position: center bottom;
			min-height: 590px;
			h2 {
			}
		}

		.information {
			.row {
				display: table;
				.wrapper-text {
					display: table-cell;
					vertical-align: middle;
					width: 54%;
				}
				img {
					float: right;
				}
				&.left {
					img {
						float: left;
					}
				}
			}
		}

		.objective {
			background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/bg-objective.jpg');
			background-repeat: repeat-x;
			background-position: center;
			min-height: 650px;
			color: white;
			font-size: 24px;
			padding-top: 2em;
			p {
				color: white;
				font-size: 24px;
			}
			h2 {
				color: white;
				font-size: 36px;
				text-transform: none;
			}
			ul {
				li {
					//height: 78px;
					margin-bottom: 10px;
					overflow: hidden;
					display: table;
					span {
						width: 68px;
						height: 78px;
						background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/sprite.png?v=1');
						display: inline-block;
						float: left;
					}
					p {
						padding-left: 20px;
						display: table-cell;
						vertical-align: middle;
					}
					&:nth-child(2) {
						span {
							background-position: 0 -92px;
						}
					}
					&:nth-child(3) {
						span {
							background-position: 0 -185px;
						}
					}
					&:nth-child(4) {
						span {
							background-position: 0 -277px;
						}
					}
					&:nth-child(5) {
						span {
							background-position: 0 -369px;
						}
					}
				}
			}
			.doctor {
				font-size: 14px;
				padding-left: 90px;
				width: 300px;
				margin-top: 3em;
				.photo {
					width: 68px;
					height: 78px;
					display: inline-block;
					background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/sprite.png?v=1');
					background-position: -83px 0;
					float: left;
					margin-left: -90px;
				}
				strong {
					padding-top: 15px;
					display: block;
				}
			}
		}

		.nutritionist {
			margin-top: 5em;
			margin-bottom: 3em;
			background-color: $color-secondary;
			color: white;
			min-height: 112px;
			.doctor {
				background-image: url('/custom/content/themes/reference/landings/categoria-omega3/images/sprite.png?v=1');
				background-position: -83px -270px;
				display: block;
				width: 243px;
				height: 177px;
				position: absolute;
				bottom: -112px;
			}
			.column-6 {
				margin-top: 23px;
				font-size: 14px;
				strong {
					display: block;
					font-size: 24px;
				}
			}
			a {
				display: table;
				background-color: $color-primary;
				color: white;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: bold;
				padding: 10px 30px;
				text-align: center;
				margin: 40px auto 0;
			}
		}
	}
}